<button class="btn btn-small" id="config-template-new-button">New Config Template</button>

<script type="text/javascript">

$('.navbar li').removeClass('active');
$('#nav_config_templates').addClass('active');

$(document).ready(function() {

    config_template_selectors();
    config_template_table_selectors();

});

</script>

<%= form_tag('/config_templates/XX', :method => :clone, :id => "config-template-clone-form") %>
</form>

<%= form_tag('/config_templates/XX', :method => :delete, :id => "config-template-delete-form") %>
</form>

<table id="config-templates-table" class="data table-bordered">
    <%= render :partial => 'table' %>
</table>
