<h1>New config template</h1>


<script type="text/javascript">

$(document).ready(function() {

  $("input.clone-existing").button({
      icons: {
          primary: 'ui-icon-extlink'
      }
  });


});

function clone_template(id) {
  if (id === '') {
    alert('Please select a config template to clone.');
  } else {
        $.ajax({
            url: 'config_templates/'+id,
            type: 'GET',
            dataType: 'xml',
            success: function(data) {
                name=$("name", data).text() + ' Copy';
                description=$("description", data).text();
                job_type=$("job-type", data).text();
                cookbook_repo_url=$("cookbook-repo-url", data).text();
                nodes_json=$("nodes-json", data).text();
                environment=$("environment", data).text();
                server_group_json=$("server-group-json", data).text();
                $("select[name='config_template[job_type]']").val(job_type);
                $("input[type=text][name='config_template[name]']").val(name);
                $("input[type=text][name='config_template[description]']").val(description);
                $("input[type=text][name='config_template[cookbook_repo_url]']").val(cookbook_repo_url);
                $("#config_template_nodes_json").text(nodes_json);
                $("#config_template_server_group_json").text(server_group_json);
                $("#config_template_environment").text(environment);
            },
            error: function(data) {
                alert('Error: Failed to clone config template.');
            }
        });
  }


}

</script>

<div style="float: right;">
<form id="clone_existing_form" name="clone_existing_form" action="#" onsubmit="clone_template(document.clone_existing_form.config_template_id.value); return false;">
    <select id="clone_config_template_id" name="config_template_id">
    <%=
    ct_arr = [['', '']]
    ConfigTemplate.find(:all, :order => "name").collect { |ct| [h("#{ct.name}(#{ct.id})"), ct.id.to_s] }.each do |entry|
      ct_arr << entry
    end
    %>
    <%= options_for_select(ct_arr) %>
    </select>

<input type="submit" name="clone" value="Clone" class="clone-existing" title="Clone existing config template"/>

</form>
</div>
<%= render 'form' %>
