<h2>Log In:</h2>

<script>

$(function(){
    $('input.auth').keydown(function(e){
        if (e.keyCode == 13) {
            smokestack_auth();
            return false;
        }
    });
});

</script>

<div id="auth-error-messages" />

<form action="/auth/login" method="POST" name="auth" id="auth-form" onsubmit="smokestack_auth(); return false;">

<p>
<b>Username:</b>
<input class="auth" name="username" type="text" value="" size="25" />
</p>

<p>
<b>Password:</b>
<input class="auth" name="password" type="password" value="" size="25" />
</p>

</form>
