<div id="jobs" class="ui-widget">

<script type="text/javascript">

$(document).ready(function() {

    job_table_selectors();

});

</script>

<%= form_tag('jobs/XX', :method => :delete, :id => "job-delete-form") %>

<table id="jobs-table" class="ui-widget ui-widget-content data">
  <%= render :partial => 'table' %>
</table>

</div>
