<script type="text/javascript">

$('.navbar li').removeClass('active');
$('#nav_jobs').addClass('active');

$(document).ready(function() {

    job_table_selectors();

});

</script>

<%= form_tag('/job/XX', :method => :clone, :id => "job-clone-form") %>
</form>

<form action="/jobs/XX" method="POST" id="job-delete-form">
<input type="hidden" name="_method" value="delete"/>
<%= tag(:input, :type => "hidden",
    :name => request_forgery_protection_token.to_s,
    :value => form_authenticity_token) %>
</form>

<table id="jobs-table" class="data table-bordered">
  <%= render :partial => 'table', :locals => {:show_updated_at => false, :show_description => true} %>
</table>
