<div id="smoke-tests" class="ui-widget">

<% if is_user %>
<%= link_to 'New Test Configuration', new_smoke_test_path, :id => "smoke-test-new-link" %>
<% end %>

<script type="text/javascript">

$(document).ready(function() {

	smoke_test_selectors();
	smoke_test_table_selectors();

});

</script>

<form action="/smoke_tests/XX" method="POST" id="smoke-test-delete-form">
<input type="hidden" name="_method" value="delete"/>
<%= tag(:input, :type => "hidden", 
    :name => request_forgery_protection_token.to_s, 
    :value => form_authenticity_token) %>
</form>

<form action="/smoke_tests/XX/run_jobs" method="POST" id="smoke-test-job-form">
<input type="hidden" name="_method" value="post"/>
<%= tag(:input, :type => "hidden", 
    :name => request_forgery_protection_token.to_s, 
    :value => form_authenticity_token) %>
</form>

<table id="smoke-tests-table" class="ui-widget ui-widget-content data">
	<%= render :partial => 'table' %>
</table>

</div>
