<% if is_user %>
<button class="btn btn-small" id="smoke-test-new-button">New Smoke Test</button>
<% end %>

<script type="text/javascript">

$('.navbar li').removeClass('active');
$('#nav_smoke_tests').addClass('active');

$(document).ready(function() {

  smoke_test_selectors();
  smoke_test_table_selectors();

});

</script>

<form action="/smoke_tests/XX" method="POST" id="smoke-test-delete-form">
<input type="hidden" name="_method" value="delete"/>
<%= tag(:input, :type => "hidden", 
    :name => request_forgery_protection_token.to_s, 
    :value => form_authenticity_token) %>
</form>

<form action="/smoke_tests/XX/run_jobs" method="POST" id="smoke-test-job-form">
<input type="hidden" name="_method" value="post"/>
<%= tag(:input, :type => "hidden", 
    :name => request_forgery_protection_token.to_s, 
    :value => form_authenticity_token) %>
</form>

<table id="smoke-tests-table" class="data table-condensed table-bordered">
  <%= render :partial => 'table' %>
</table>
