<button class="btn btn-small" id="user-new-button">New User</button>

<script type="text/javascript">

$('.navbar li').removeClass('active');
$('#nav_users').addClass('active');

$(document).ready(function() {

    user_selectors();
    user_table_selectors();

});

</script>

<%= form_tag('/users/XX', :method => :delete, :id => "user-delete-form") %>
</form>

<table id="users-table" class="data table-bordered">
    <%= render :partial => 'table' %>
</table>
