development:
  adapter: mysql
  database: smokestack_dev
  username: root
  password:
  host: localhost

test:
  adapter: mysql
  database: smokestack_test
  username: root
  password:

production:
  reconnect: true
  adapter: mysql
  database: smokestack_prod
  username: root
  password:
