<script type="text/javascript">

$('.navbar li').removeClass('active');
$('#nav_about').addClass('active');

</script>

<div>
<h4>Summary:</h4>
<p>
SmokeStack is a web application with a REST based HTTP interface to help origanize and drive testing of OpenStack. SmokeStack is focused on integration using real packages (RPM, Deb, etc.) and config management (Puppet/Chef).

The following core OpenStack services are currently supported: Nova, Keystone, Glance, Swift, Cinder, Neutron, Ceilometer, and Heat.
</p>

<p>
SmokeStack is built using:

<ul>

<li>Rails 3.2</li>
<li>Resque: a redis backed job queue</li>
<li>A templated job runner. The default libvirt job runner uses <a href="https://github.com/dprince/kytoon">Kytoon</a> to spin up groups of servers in the cloud for smoke testing.</li>
<li>Packages to install software (currently supports Fedora)</li>
<li>Configuration management to install and configure everything (Puppet)</li>

</ul>
</p>

</div>
<hr/>

<div>
<h4>Features:</h4>
<p>

<ul>
<li>Currently supports Git and Bzr.</li>
<li>Ability to test custom branches on GitHub, Launchpad, Gerrit, etc.</li>
<li>Custom package builder branches.(For RPMs/Debs/etc.)</li>
<li>Specify a custom revision hash for each source code URL.</li>
<li>Captures stdout and stderr for each job.</li>
<li>Multiple configuration support. Libvirt/XenServer, MySQL/PostgreSQL, Qpid/Rabbit, etc. build your own and test with them right in the UI.</li>
</ul>

</p>
</div>

<hr/>

<div>
<h4>Rest API</h4>
<ul>
<li><b>GET /smoke_tests.json</b>: get a list of existing smoke tests</li>
<li><b>POST /smoke_tests.json</b>: create a new smoke test</li>
<li><b>POST /smoke_tests/1/run_jobs</b>: run jobs for the selected smoke test.</li>
<li><b>DELETE /smoke_tests/1.json</b>: destroy a smoke test</li>
<li><b>GET /jobs.json</b>: get a list of jobs</li>
<li><b>GET /jobs/1.json</b>: show information for a specific job</li>
<li><b>DELETE /jobs/1.json</b>: destroy a job</li>
</ul>

</p>
</div>

<hr/>

<div>
<b>Related projects:</b>
<p>

<ul>
<li><a href="https://github.com/dprince/firestack">Firestack<a/>: smokestack helper tasks: packages, puppet, tests</li>
<li><a href="https://github.com/dprince/kytoon">Kytoon<a/>: Create small virtual server groups.</li>
<li><a href="https://github.com/dprince/bellows">Bellows<a/>: SmokeStack automation w/ Gerrit.</li>
<li><a href="https://github.com/dprince/torpedo">Torpedo<a/>: Fast Ruby integration tests for OpenStack.</li>
<ul>

</p>
</div>
