body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
}

table.data tr.header {
  font-size: 13px;
  color: #333;
  background-color: #DDD;
}

table.data tr td.header {
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

table.data tr td font.header {
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

table.data tr td.success {
  color: #5ba75b;
}

table.data tr td.error {
  color: #da4f49;
}

table.data tr td.warning {
  color: #f89406;
}

table.data tr td.info {
  color: #49afcd;
}

table.data tr td.primary {
  color: #003399;
}

table.data tr.tr0 {
  background-color: #FFF;
}

table.data tr.tr1 {
  background-color: #DDD;
}

table.data tr.inactive {
  color: #333;
  font-style: italic;
}

br.clear {
  clear: both;
}

textarea.wide {
  width: 100%;
}

textarea.logs {
  font-family: terminal, "VT-100", monospace;
  color: #222;
}

.show {
  display: inline;
}

.hide {
  display: none;
}
